@import url(font.css);

 body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 1.5;
   text-rendering: optimizeLegibility;
   font-variant-ligatures: none;
   box-sizing: border-box;
   font-family: 'Product Sans';
   background-color: #fafafa;
}
@media screen and (max-width: 780px) {
	.subtitle {
		font-size: 1.53vw;
		margin-bottom: 0px;
		letter-spacing: 2px;
	}
	
}
.subtitle {
	margin-bottom: 0;
	text-transform: uppercase;
  	margin-bottom: 1rem;
  	color: rgba(0, 0, 0, 0.3);
  	letter-spacing: 0.5px;
  	font-family: monospace; 
  	font-size: 14px; 
  	font-style: normal; 
  	font-variant: normal; 
  	font-weight: 100; 
  	line-height: 14px;
}
.credit {
	letter-spacing: 0.5px;
  	font-family: monospace; 
  	font-size: 10px; 
  	font-style: normal; 
  	font-variant: normal; 
  	font-weight: 100; 
  	
  	
  	
}
body::before,
body::after {
  content: "";
  display: table;
  clear: both;
}
.projects-selector {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 15pt;
  box-shadow: 1000%;
  padding: 1%;
  

}
.projects-selection {
  text-align: center;
}
body * {
  box-sizing: inherit;
}
p, h1 {
  margin: 0; padding: 0;
}

 body, .text-light-black {
   color: rgba(0,0,0,0.6);
}
.text-black {
  color: rgba(0,0,0,0.9);
}
.text-muted {
  color: rgba(0, 0, 0, 0.3);
}

.text-uppercase {
  text-transform: uppercase;
}

.card-links > a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px;
  outline: rgba(224, 224, 224, 0.342) 2px solid;
  margin-bottom: 2rem;
  margin-left: 5px;
  margin-right: 5px;
}

.ff-serif {
  font-family: 'Product Sans';
}

.font-weight-normal {
  font-weight: normal;
}
.font-weight-medium {
  font-weight: 500;
}

 .lts-1px {
   letter-spacing: 1px;
}
.lts-2px {
  letter-spacing: 2px;
}


.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute
}



.bg-white {
  background-color: #fff;
}






.small {
  font-size: 0.75rem;
}
.medium {
  font-size: 1.0rem;
}
.card-heading {
  font-size: 2.25rem;
}
.styled-link {
  text-decoration: none;
  outline: none;
  color: #FF692F;
  transition: all 0.25s ease-in; 
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #536dfe;
}
.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #FF692F;
}




.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right{
  float: right;
}






/**Margin and padding utilities*/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}


.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}
@media screen and (max-width: 780px) {

  .media-cards {
    width: 120px;
    overflow: hidden; 
    border-radius: 1px;
  }
  .lts-2px {
    letter-spacing: 0.5px;
  }
  .ml-2 {
    margin-left: 0.1rem;
  }
  .mb-2 {
    margin-bottom: 0px;
  }
  .column {
    width: 50%;
  }
  .px-2 {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .py-2 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .mb-1 {
    margin-bottom: 0px;
  }
  .no-mobile {
    display: none;
  }
  .bigger-mobile {
    font-size: 1.45vw;;
  }
  .ml-1 {
    margin-left: 0.1rem;
  }
}
@media screen and (min-width: 781px) {
  .media-cards {
    width: 360px; 
    overflow: hidden; 
    border-radius: 1px;
  }
  .lts-2px {
    letter-spacing: 2px;
  }
  .ml-2 {
    margin-left: 2rem;
  }
  .mb-2 {
    margin-bottom: 2rem;
  }
  
  .column {
    width: 30%;
  }
  .px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .mb-1 {
    margin-bottom: 1rem;
  }
  .ml-1 {
    margin-left: 1rem;
  }
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}




.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}


.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}


.left, .right {
    width: 30%;
}
.left {
  float: left;
  margin-left: 20%
}
.right {
  float: right;
  margin-right: 20%
}