@font-face {
    font-family: Rubik;
    src: url("https://skylarmccauley.xyz/fonts/fonts/Rubik/Rubik-Regular.ttf");
}
body {
	width: 100% !important;
	max-width: 100% !important;;
}
body, html {
	font-family: 'Rubik', sans-serif !important;;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #666;
	overflow-x: hidden;

}

*:focus {
    outline: none;
}
img {
	border-radius: inherit !important;
}
@media (prefers-color-scheme: dark) {
    h1 {
		color: #f8f8f8
	}
	.intro-text p {
		color: #F3F2F8;
	}
	h2 {
		color: #F3F2F8;
	}
	.h2-like {
		color: #F3F2F8
	}
	h3, h4 {
		color: #E6E5EB;
	}
	p {
		font-size: 15px;
		color: #F3F2FA;
	}
	a {
		color: #0A84FF;
	}
	a:hover, a:focus {
		text-decoration: none;
		color: #5E5BE6;
	}
	hr {
		color: #48484A;
	}
	.navbar-custom {
		background-color: #1C1C1E
	}

}
h1 {
	font-weight: 700;
	color: #1C1C1E
}
.intro-text p {
	color: #2C2C2E
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #1C1C1E;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
	text-transform: uppercase;
}
.h2-like {
	line-height: 20px;
	margin: 0;
	color: #1C1C1E !important;
	font-weight: 400 !important;
	margin-bottom: 30px;
	font-size: 24px !important;
	text-transform: uppercase;
}
h3, h4 {
	color: #2C2C2E;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
	color: #2C2C2E;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Rubik', sans-serif !important;;
}
a {
	color: #007AFF;
}
a:hover, a:focus {
	text-decoration: none;
	color: #5757D3;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100 */
	background: #C8C7CD; /* Old browsers */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1 ); /* IE6-9 */
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
hr.long {
	width: 120px;
}
/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
}
.navbar-custom {
	margin-bottom: 0;
	background-color: #99989E;
	border-radius: 0px;
	padding: 10px 0;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-toggle {
	color: #1C1C1E !important;
	padding-right: 6%;

}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #aaa;
}
.navbar-custom .nav li a {
	margin: 0 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: color.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #FF692F;;
	background-color: transparent;
	transition: color.3s ease-in-out;

}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: rgb(218, 86, 35);
	transition: color.3s ease-in-out;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.btn-default {
	color: rgba(255,255,255,0.8);
	background-color: transparent;
	border: 2px solid rgba(255,255,255,0.5);
	padding: 12px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	text-transform: uppercase;
	margin-top: 2pt;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
	color: #fff;
	background-color: rgba(34, 34, 34, 0.295);
	border-color: #222;
}
.btn-primary {
	color: rgb(207, 59, 0);
	background-color: transparent;
	padding: 12px 20px;
	border: 2px solid rgb(207, 59, 0);
	border-radius: 0;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	margin-top: 2pt;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	color: #fff;
	background-color: rgba(207, 59, 0, 0.699);
	border-color: rgba(207, 59, 0, 0.699);
}
.btn-primary i.fa {
	margin-right: 10px;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Home Section */
.intro {
	display: table;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff;
	background: url(../img/abendstimmung-afterglow-bright-221421.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100&0.85+0,0.85+100 */
	background: -webkit-linear-gradient(top, #025260 0%, #FF692F 100%); /* Chrome10-25,Safari5.1-6 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d96b4da8', endColorstr='#d94977c2', GradientType=1 ); /* IE6-9 */
}
.section-title.center {
	padding: 25px 0 25px 0;
}
/* About Section */
#about {
	padding: 100px 0;
	background: #242426 ;
}
#about .about-text {
	margin-left: 10px;
}
#about img {
	float: right;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}
#links, #portfolio {
	padding: 25px 0;
	background: #242426 ;
}
#links img {
	float: right;
}
#links p {
	margin-top: 20px;
	margin-bottom: 30px;
}
/* Skills Section */
#flair {
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100 */
	background: rgb(107,77,168); /* Old browsers */
	background: -webkit-linear-gradient(left, rgba(2, 82, 96) 0%, rgba(255, 105, 47) 100%); /* Chrome10-25,Safari5.1-6 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1 ); /* IE6-9 */
}
#flair h2 {
	color: #fff;
}
#flair hr {
	background: rgba(255,255,255,0.3);
}
#flair .skill {
	margin-bottom: 40px;
	text-align: center;
	padding: 0px;
}
#flair .skill h4 {
	font-weight: 600;
	color: #fff;
}
.chart {
	position: relative;
	display: inline-block;
	width: 140px;
	height: 140px;
	margin-bottom: 26px;
	text-align: center;
	
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	font-size: 21px;
	color: #fff;
	line-height: 140px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}
/* Portfolio Section */
#projects {
	padding: 100px 0;
	background: #f6f6f6;
}

.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
	text-transform: uppercase;
}
ol.type li a {
	background: transparent;
	border: 2px solid #F97602;
	color: #F97602;
	padding: 10px 20px;
}
ol.type li a.active {
	background: #F97602;
	color: #fff;
}
ol.type li a:hover {
	background: #F97602;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 33% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#projects i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
.achievement-box h4 {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin-left: 5px;
	text-transform: uppercase;
}
.achievement-box span.count {
	font-size: 52px;
	font-weight: 600;
	display: block;
	color: rgba(255,255,255,0.8);
	padding: 0;
	margin: 0;
}
/* Testimonials Section */
#testimonials {
	padding: 100px 0;
	background: #F6F6F6;
}
#testimonials blockquote {
	position: relative;
	margin-top: 20px;
	border: 0;
	text-align: center;
	background: #fff;
	padding: 30px 20px;
}
#testimonials i {
	font-size: 24px;
	color: #eee;
	margin-bottom: 14px;
}
#testimonials .clients-name {
	display: inline-block;
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 10px;
}
/* Contact Section */
#contact {
	color: #fff;
	background: url(../img/abendstimmung-afterglow-bright-221421.jpg) no-repeat center top;
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#contact .overlay {
	padding: 100px 0 40px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100&0.85+0,0.85+100 */
	background: -webkit-linear-gradient(bottom, #025260 0%, #FF692F 100%); /* Chrome10-25,Safari5.1-6 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d96b4da8', endColorstr='#d94977c2', GradientType=1 ); /* IE6-9 */
}
#contact h2 {
	color: #fff;
}
#contact hr {
	background: rgba(255,255,255,0.3);
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 30px 0;
}
#contact i.fa {
	color: #121d1f;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Rubik', sans-serif !important;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #222;
	background-color: rgba(255,255,255,0.6);
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .btn {
	margin-top: 2pt;
	
}
#copyEmail {
	transition: all .5s;
}
.emailCopySuccessful, .emailCopySuccessful:hover {
	background-color: rgb(5, 201, 37);
}
.emailCopyUnsuccessful, .emailCopyUnsuccessful:hover{
	background-color: rgb(255, 43, 43);
}

#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #121d1f;
}
/* Footer Section*/
#footer {
	background: #1C1C1E;
	color: #F3F2F8;
	padding: 25px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #0A84FF;
}
#footer a:hover {
	color: #526cbb;
}

/* Media Queries */
@media(min-width:991px) {
.intro {
	height: 100%;
	padding: 0;
	color: #fff;
}
.intro H1 {
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
}
.intro .intro-text p {
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	letter-spacing: 2px;
}
header {
	-moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  animation: slide-up 0.25s ease;
  transition: all .5s linear;

}
section {
	padding: 120px 0;
}
header .intro-text {
	padding-top: 150px;
	padding-bottom: 150px;
}
}
#color-div {
	color: #526cbb;
	background-color: #526cbb;
	width: 100%;
	height: 2px;
	margin-top: 5%;
}

.navbar-items a {
	color:#E6E5EB;
}
@media (max-width: 1024px) {
#about img {
	float: left;
	margin-bottom: 20px;
}
}

.nb-i {
	color: white;
	font-size: 12pt;
}
.white {
	color: white !important;
}
.black {
	color: black !important;
}
@media (min-width: 769px) {
	.skill-sub {
		display: none !important;
	}
	.navbar-header {
		display: none !important;
	}
}
span.icn {
	transition: all 0.25s ease-in;
}
span.icn:hover {
	transform: scale(1.1)
}
@media (min-width: 4000px) {
	.skill-icons .icn {
		font-size: 5vw;
		margin-left: .5vw !important;
		margin-right: .5vw !important;
	}
	.profile-icons .icn {
		font-size: 1.4vw;
		margin-left: .5vw !important;
		margin-right: 1vw !important;
	}
}
@media (max-width: 4000px) and (min-width: 2049px) {
	.skill-icons .icn {
		font-size: 5.5vw;
		margin-left: .5vw !important;
		margin-right: .5vw !important;
	}
	.profile-icons .icn {
		font-size: 1.4vw;

	}
}
@media (max-width: 2048px) and (min-width: 769px) {
	.skill-icons .icn {
		font-size: 10vw;

	}
	.profile-icons .icn {
		font-size: 1.9vw;

	}
}
@media (max-width: 768px) and (min-width: 575px) {
	.skill-icons {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
	.skill-icons .icn {
	font-size: 15.5vw !important;
}
	.profile-icons .icn {
	font-size: 4vw !important;
	margin-left: .7vw !important;
	margin-right: .7vw !important;
}
}
@media (max-width: 768px) {
	.navbar-icons {
		display: none;
	}
	.navbar-items {
		margin-top: 6.7pt !important;
		margin-bottom: 0.5pt !important;
		font-size: 15px !important;
	}
	
	#about {
		padding: 100px 0 25px 0 !important;
	}
	#portfolio, #links {
		padding: 10px 0 25px 0 !important;
	}
	.hide768 {
		display: none !important;
	}

}
@media (max-width: 574px) {
	.skill-icons .icn {
		font-size: 14vw !important;
	}
	.profile-icons .icn {
		font-size: 5.5vw !important;
		margin-left: .9vw !important;
		margin-right: .9vw !important;
	}
}
.navbar-items {
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 0;
	
}

.page-selection {
	text-align: center !important;

}
.page-selector-cont, div.page-selector-cont  {
	display: block;
	text-align: center;
}

	.screenSmall {
		display: none !important;
	}
	.p1 {
		display: block;
	}
	.turnPhoneContainer,  .screenSmall{
		display: none !important;
	}
	.p2{
		display: none;
	}
	.p3 {
		display: none;
	}
	.pages, .pages-selector, .pages-selection, .pages-selector, div.left.column, div.right.column {
		display: block !important;
	}
	.selector-1 {
		display: block !important;
		opacity: 1.0 
	}
	.selector-2 {
		display: block !important;
		opacity: 0.1
	}
	.selector-3 {
	display: block !important;
	opacity: 0.1
	}

.screenSmall {
	margin-bottom: 2pt;
}
.p-s {
	font-size: 16pt;

}
button.p-s-1, button.p-s-2, button.p-s-3 {
	margin: 0 2pt 0 2pt;
	background-color: #242426 ;
	color: black;
	
	outline: none;
	border: none;
}
.p-s:hover {
	opacity: 0.5;
}
.p-s:focus {
	opacity: 0.3;
}
.fa-bars:before {
	content: "\f0c9";
	margin-right: 45px;
}
.fa-sync {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1400ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 1400ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 1400ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-transition: rotate(3600deg);
}
@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
.pages-loading {	
	margin-bottom: 5%;
}

.show {
	display: block !important;
}
.hide {
	display: none !important;
}
.op-01 {
	opacity: 0.1 !important;
}
.op-10 {
	opacity: 1.0 !important;
}
.ex {
	text-align: center;
}
.content-credits {
	font-size: 10pt;
}
#footer {
	margin-bottom: 0;
	}
.emailCopy-left {
	float: left;
}
.emailCopy-right {
	float: right;
}

.no-mb {
	margin-bottom: 0 !important;
}
.skill-icons {
	padding: 0 0 25px;
}
.skill-icons .icn, .profile-icons .icn{
	display: inline-block !important;
	margin-left: 1vw;
	margin-right: 1vw;
}
.meep-meep {
	margin-bottom: 3%;
}
.profile-icons .icn:hover, .profile-icons .icn:focus{
	color: #4C4C4C !important;
}
.fa-html5 {
	color: #F16529 !important;
}
.fa-css3-alt {
	color: #1C88C7 !important;
}
.fa-js-square {
	color: #F7DF1E !important;
}
.fa-node-js {
	color: #8CC84B !important;
}
.page-selector {
	transition: all 0.15s ease-in;
}
.page-selector:hover {
	transform: scale(1.05)
}
.page-selector:active {
	transform: scale(0.95)
}
.ps {
	font-size: 205%;
}
a.btn {
	transition: all 0.15s ease-in;
}
a.btn:hover {
	transform: scale(1.02)
}
a.btn:active {
	transform: scale(0.98)
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 10px;
	
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f6f6f6; 
	
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
	
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
