body {
		text-align: center;
		background-color: black;
		background: black;
	}
	a {
		font-size: 16pt;
		color: orange;
	}
	a:visited {
		color: orange;
	}
	.zip {
		font-size: 20pt;
	}
	.zip-cont {
		margin-top: 1%;
		
	}
	.preview {
		text-align: center;
		margin-top: 5%;
		margin-bottom: 5%;
		
	}
	hr {
		margin-top: 2% !important;
		margin-bottom: 5% !important;
		background-color: white !important;
		background: white !important;
		width: 30% !important;
		}
	h1, h2, p {
		color: white !important;
		
	}
	.note {
		margin-top:25px;
		font-size: 15pt;
		color: red !important;
	}
	h2 {
		margin-top: 1%;
	}
	img, hr, h2, .previews{
		border-radius: 7px;
	}
	.renderSet {
		
		margin-top: 5%;
		margin-bottom: 2%;
		padding-top: 7px;
		padding-bottom: 7px;
		}
	.banner {
		height: 150px
	}
	.credits {
		font-size: 9pt;
		margin-bottom: 5%;
	}
	.previews {
		outline: solid 2px white;
		margin-left: 30%;
		margin-right: 30%;
		margin-bottom: 5%;
		padding-top: 15px;
		padding-bottom: 15px;
	}