@font-face {
    font-family: SF-Pro-Rounded-Bold;
    src: url("https://skylarmccauley.xyz/paperboat/fonts/SF-Pro-Rounded-Bold.otf");
}
@font-face {
    font-family: SF-Pro-Rounded-Bold;
    src: url("./fonts/SF-Pro-Rounded-Bold.otf");
}
@font-face {
    font-family: SF-Pro-Rounded-Reg;
    src: url("https://skylarmccauley.xyz/paperboat/fonts/SF-Pro-Rounded-Regular.otf");
}
@font-face {
    font-family: SF-Pro-Rounded-Reg;
    src: url("./fonts/SF-Pro-Rounded-Regular.otf");
}
@font-face {
    font-family: SF-Pro-Rounded-Light;
    src: url("https://skylarmccauley.xyz/paperboat/fonts/SF-Pro-Rounded-Light.otf");
}
@font-face {
    font-family: SF-Pro-Rounded-Light;
    src: url("./fonts/SF-Pro-Rounded-Light.otf");
}
@media (max-width: 800px) {
    .col-lg-3 {
      display: none !important;
    }
    
}
body, html, .col-lg-6, .col-lg-3 {
    background-color: #00B1FF !important;
    font-family: SF-Pro-Rounded-Bold !important;
    color: white !important;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 5vw;
}
p {
    margin: 0;
    font-family: SF-Pro-Rounded-Bold;
}
h1, .ver{
    display: inline-block;
}
.ver {
    font-size: 115%;
    font-family: SF-Pro-Rounded-Reg;
}
#sender {
    display: none;
}
.composer, .sender {
    margin: 5% 0;
    margin-bottom: 1% !important;
}
.composer #msg {
    background-color: inherit;
    color: white;
    font-family: SF-Pro-Rounded-Bold;
    border: 2px solid white;
    border-radius: 15px;
    padding: 1%;
}
#f-msg {
    font-size: 145%;
}
a.btn {
    background-color: white;
    color: #00B1FF;
    border: 2px solid white;
    border-radius: 15px;
    padding: 1%;
    text-decoration: none;
    margin-top: 1%;
    margin-bottom: 1%;
}
img {
	width: 3vw;
	display: inline-block;
	text-align: center;
}
@media(max-width:1280px) {
    img {
        width: 4vw;
    }
}
@media(max-width:825px) {
    img {
        width: 5.75vw;
    }
}
@media(max-width:465px) {
    img {
        width: 8vw;
    }
}
.pending-msg {
	width: 25vw;
	text-align: center !important;
}
@media(min-width:1024px) {
    .pending-msg {
        width: 15vw;
    }
}
.message{
    margin: 5% 5% 0;
    border-radius: 15px;
    border: 2px solid white;
    padding: 7%;
}
br {
    margin-bottom: 5%;
}
.hidden {
    display: none !important;
}
.shr-cont {
    margin-bottom: 10% !important;
}
.credits {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 15px;
    border: 2px solid white;
    padding: 2%;
}
hr {
    border-radius: 5px;
    border: 2px solid white;
}
input {
    width: 60% !important;
}